[Unit]
Description=Vape Public ELB Registration
After=docker.service
PartOf=vape@%i.service

[Service]
Restart=always
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStartPre=/usr/bin/docker pull quay.io/coreos/elb-presence:latest
ExecStart=/usr/bin/docker run --rm --name %p-%i -e AWS_ACCESS_KEY=AKIAIWSLK3OVJGCYOQTQ -e AWS_SECRET_KEY=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 -e AWS_REGION=us-west-1 -e ELB_NAME=vape-public-lb quay.io/coreos/elb-presence
ExecStop=/usr/bin/docker stop %p-%i

[X-Fleet]
MachineOf=vape@%i.service
